.App {
  /* text-align: center; */
  padding: 5em;
  background-image: url("bg.png");
  background-size: 200%; /* Ensure image covers entire viewport */
  background-repeat: repeat; /* Prevent image repetition */
  color: white;
  min-height: 100vh;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation: pan 50s alternate infinite ease-in-out;
}

*::selection {
  color: #0091ff;
  background-color: #041a29;
}

@keyframes pan {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}

#busca {  
  background-color: rgba(0 0 0 / 0);
  border: none;
  background: -webkit-linear-gradient(#ffffff, #181818c4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-family: Inter;
  font-weight: 800;
}

#busca::placeholder {
  /* color: rgba(255 255 255 / .15) */
  background: -webkit-linear-gradient(#ffffff09, #1818183c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#busca:focus-visible,
#busca:active,
#busca:focus {
  outline: none;
}

a,
a:visited {
  color: #0091ff;
  text-decoration: none;
}

.results-gallery {
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
